.confirm-popup {
    display: flex;
    flex-direction: column;
    // align-items: center;

    justify-content: center;

    &__text {
        text-align: center;
    }
 &__buttons-wrap {
    display: flex;
    justify-content: space-between
 }
}

.confirm-popup__button {
    @include action-button;
    width: 80px;
}

.confirm-popup__button_type_agreement {
    color: var(--accent-clr);
    border-color: var(--accent-clr);

}

.confirm-popup__button_type_decline {
    color: var(--queue-clr);
    border-color: var(--queue-clr);
}