.confirm-popup {
    display: grid;
    align-items: center;
    // margin-top: 20px;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 10px;
    // max-width: 50px;
 
}

.confirm-popup__button {
    @include action-button;
    width: 90px;
}

.confirm-popup__button_type_agreement {
    color: var(--accent-clr);
    border-color: var(--accent-clr);

}

.confirm-popup__button_type_decline {
    color: var(--queue-clr);
    border-color: var(--queue-clr);
}