.task {
    list-style: none;
    
    &__header {
        margin: 0;
        padding: 0 0 5px;
        color: var(-font-clr-invert);
        border-bottom: 2px solid var(--bg-clr);
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto 1fr;
        // align-items:start;
        justify-content: space-between;
        
    }
        &__project-title {
            margin: 0;
            color: var(--additional-color);
            // text-transform: lowercase;
            font-weight: 100;
            @include link-hover;
            grid-row: 2;
            grid-column: 1 / span 2;
        }
    
        &__task-title {
            margin: 0;
            grid-row: 1;
            grid-column: 1;
        }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10px 15px;
        
    }

    &__data-block {
        display: flex;
        margin: 5px 0;
        justify-content: space-between;
        // width: 100%;
    }
    &__data-item {
    // padding: 0 5px;
        margin: 0;
        padding: 0;
            }

    &__data-parametres {
       
        // justify-self: end;
        // display: flex;
        // width: 100px;
        // // flex-direction: column;
        // font-size: 0.8em;
        // text-transform: uppercase;
        // // :nth-child(1) {
        // //     border-right: 2px solid var(--bg-clr);
        // //     // padding-right: 5px;
        // // }
        // > .task__data-item {
        //     // padding: 0 5px;
        //     margin: 0;
        //     padding: 0;
        // }
    }
    &__data-dates {
       
        margin: 0;
        :nth-child(2n){
            border-right: 2px solid var(--bg-clr);
            border-left: 2px solid var(--bg-clr);
            padding: 0 5px;

        }
    }
    &__work-time {
        margin-left: 5px;
    }

    &__number {
        margin: 0;
        color: var(--additional-color);
        @include link-hover;
    }

    &__status {
        // margin-left: 10px;
        margin: 0;
        grid-row: 1;
        grid-column: 2;
        justify-self: end;
        text-align: right;
        min-width: 100px;
    }

    &__priority {
        font-weight: 700;
        
    
    }
    &__text {
        text-align: justify;
      
        padding: 5px;
        margin: 0 0 20px;
        border: 2px solid var(--bg-clr);
        border-radius: 5px;
    }
    &__controls {
        
        display: flex;
        align-self: center;
        // margin-right: 10px;
        justify-self: flex-end;
        // width: 50px;
    }
    &__controls-btn {
        
        &_type_edit {
            @include custom-button;
            background: center / contain no-repeat url('../../assets/icons/pencil.svg');
            margin-right: 5px;
    
        }
        &_type_delete {
            @include custom-button;
            background: center / contain no-repeat url('../../assets/icons/trash.svg');
        }
    }
}