.loader {
    position: fixed;
    width: 80px;
    height: 80px;
    overflow: auto;
    margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 999;
        // visibility: hidden;
        // opacity: 0;
 
}

.loader div {
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    border-radius: 2px;
    animation: loader 1s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loader div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
    background-color: var(--queue-clr);
}

.loader div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
    background-color: var(--process-clr);
}

.loader div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
    background-color:var(--succes-clr);
}

@keyframes loader {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}