.project-card {
    border: 3px solid var(--accent-clr);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    height: 50%;
    text-align: center;
    @include link-hover;
    &__link {
        color: var(--accent-clr);
        width: 100%;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 auto;
        &:visited {
            color: var(--accent-clr);
        }
        &:hover {
            border-color: var(--accent-clr);
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }
}


   
