.project-card {
    border: 3px solid var(--border-clr);
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 50px;
    height: 50%;
    text-align: center;
    box-sizing: border-box;
    &__link {
        color: var(--accent-clr);
        width: 100%;
            // overflow: hidden;
            //     white-space: nowrap;
            //     text-overflow: ellipsis;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 auto;
        padding: 10px;
        
        &:visited {
            color: var(--accent-clr);
        }
        &:hover {
            border-color: var(--accent-clr);
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }
}


   
