@mixin list {
    list-style: none;
    padding: 0;
}

@mixin list-item-decor {
    
            content: '';
            position: absolute;
            height: 15px;
            width: 6px;
            left: -15px;
            top: -3px;
            border: 2px solid var(--subtitle-clr);
            border-radius: 3px;
        
}