.secect {
    position: relative;
    appearance: none;
        padding: 8px 16px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #fff;
        cursor: pointer;
        width: max-content;


    &__option {

    }
}
