.header {
  padding: 0 20px;
  display: grid;
  grid-template-columns: 60px 1fr 40px;
  align-items: center;

  border-bottom: 2px solid var(--accent-clr);
  // justify-content: space-between;
  align-items: center;
  // min-height: 100px;
  // position: relative;
  &__logo {
    width:60px;

  }
  &__title {
    font-size: 1.5em;
    color: var(--accent-clr);
    // text-transform: uppercase;
    text-align: center;
    }
}
