.menu {
  // position: absolute;
  // top: 0;
  right: -300px;
  // width: 300px;
  // height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  z-index: 100;
  display: flex;
  flex-flow: column wrap;
  &__user-container {

        margin-top: 5px;
        align-items: center;
        display: flex;
        color: var(--additional-color);
  }
  &__user-link{
    margin-left: 20px;
    position: relative;
    &::after {
      content: '';
      position: absolute;
     
    }
  }
  &__logout-btn {
    box-sizing: border-box;
    @include action-button;
    margin-left: 5px;
    border: none;
    border-radius: 0;
    height: 15px;
    //   right: -20px;
      width: 15px;
      background-image: url(../../assets/icons/exit.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
  }
  &_state_active {
    // display: flex;
    // flex-direction: column;
    //   justify-content: space-between;
    //   align-items: center;
    display: grid;
    grid-template-rows: 60px 1fr 40px;
    height: 100%;
    position: absolute;
    max-width: 375px;
      height: 100%;
      width: 100%;
      right: 0;
      top: 0;
      background: var(--popup-bg-clr);
  }
}
.navbar {
  align-self: center;
  // position: absolute;
  list-style: none;
  display: none;
  padding: 0;
  text-transform: uppercase;
  margin: 0;
  &__site-settings {
    color: var(--additional-color);

    display: flex;
    flex-direction: column;  
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px 20px;
   
  }
  &__subtitle {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    &::after {
      position: absolute;
      background-image: url('../../assets/icons/arrow-rd.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        content: '';
        width: 35px;
        height: 20px;
        position: absolute;
      // background-color: var(--process-clr);
    }
  }
  &__item {
    margin-top: 20px;
    
  }
    &__item:last-of-type {
      margin-right: 0;
    }
  &__link {
    text-decoration: none;
    font-size: 1.4em;
    color: var(--additional-color);
  }
  &__link:hover {
    color: var(--additional-color);
    text-decoration: underline;
  }
  &__link:visited {
    color: var(--additional-color);
    
  }
    &__link:hover:visited {
      color: var(--additional-color);
    }
  &_state_active {
    // align-self: center;
    // position: absolute;
    // max-width: 375px;
    // height: 100%;
    // width: 100%;
    // right: 375px;
    // top: 0;

    align-items: center;
    // background: var(--popup-bg-clr); 
    display: flex;
    flex-direction: column;
    // height: 100px;
    // width: 200px;
    color: red;
    z-index: 1;
    // margin: 0;
    // transform-origin: 0% 0%;
    // transform: translate(100%, 0);
    // // transition-duration: 10s;
    //   transition: transform 2.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }
}
.entrance-buttons {
  margin-left: 20px;
  
  &__button {
    @include action-button;
    color: var(--subtitle-clr);
    padding: 0;
    font-weight: 100;
    &:hover {
      text-decoration: underline;
    }
    &:first-of-type{
      margin-right: 10px;
      border: none;
    }
    &:nth-of-type(2) {
      margin-left: 10px;
      padding:  0 5px;
   
    }
  }
}
