.intro {
    box-sizing: border-box;
    position: relative;
    // padding: 20px;
    grid-area: 'content';
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
    
    // grid-template-columns: 1fr 1fr;
    justify-items: center;
    margin: 0;
    align-items: center;
    padding-top: calc(5% + 10px);
        /* Пример: 5% от высоты контейнера + 10px отступ сверху */
        padding-bottom: calc(5% + 10px);
    &__header {

    }
    &__title {
        margin: 0;
    }
    &__subtitle {
        margin: 0;
        position: relative;
        color: var(--subtitle-clr);
        // &::after {
        //     content: '';
        //     background-image: url('../../assets/icons/arrow-ru.svg');
        //     background-position: top center;
        //     background-repeat: no-repeat;
            
        //     width: 35px;
        //     height: 20px;
        //     position: absolute;
        // }
    }
    &__features {
        @include list;
        margin-top: 50px;
    }
    &__features-item {
        margin: 15px 0 0 0;
        position: relative;
        left: 15px;
        // @include list-item-decor;
        &::before{
            @include list-item-decor;
        }
    }
    &__tech-list {
        @include list;
        overflow: hidden;
        height: 90px;
        position: relative;
        // top: 50%;
        // right: 50%;
        min-width: 300px;
    }
    &__tech-list-item {
        position: absolute;
        top: 0;
        left: 0;
        // margin: 0;
        color: var(--process-clr);
        // min-width: 320px;
        font-size: 5em;
        // line-height: 20%;

    }
    &__buttons {
        
        display: flex;
        align-items: center;
        gap: 5px;
        max-width: 250px;
        justify-content: left;
    }
    &__buttons-title {
        margin-top: 60px;
        border-bottom: 2px solid var(--process-clr);
        padding-bottom: 5px;
        max-width: 135px;
    }
    &__button-container {
            overflow: hidden;
    }
    &__link {
        @include action-button;
        padding: 5px 10px;
        position: relative;
        display: block;
        overflow: hidden;
        z-index: 3;
        color: var(--process-clr);
    }
    &__link_type_read-only {
        // color: var(--process-clr);
        // border-color: var(--process-clr);

        // &:hover {
        //     background-color: var(--process-clr);
        //     border-color: var(--process-clr);
        // }
    }
    &__link_type_full-access {
        
      
    }
    &__button-text {
        z-index: 1;
        
    }
    &__button-overlay {
        position: absolute;
        min-width: 100%;
        height: 100%;
        bottom: 0;
        left: -100px;
        background-color: var(--process-clr);
        z-index: -1;
    }
    &__comment-about-stack {
        color: var(--subtitle-clr);
        position: relative;
        &::after {
            content: '';
            background-image: url('../../assets/icons/arrow-rd.svg');
            background-position: bottom center;
            background-repeat: no-repeat;
       
            width: 35px;
            height: 20px;
            position: absolute;
        }
    }

}
@media screen and (max-width: 768px) {
    .intro {
     &__comment-about-stack{ 
        align-self: center;
        justify-content: center;
     }
    }
}