.footer {
    color: $subtitle-clr;
    display: flex;
    align-items: center;
    justify-content: center;
  &__logo {
    height: 10px;
    grid-area: footer;
  }
  &__icon {
    background-image: url('../../assets/icons/github-icon.svg');
    height: 50px;
    width: 25px;
    display: block;
    margin-left: 10px;
  }
}
