.switcher {
   
    position: relative;
    border: 2px solid var(--additional-color);
    border-radius:15px;
    width: 35px;
    height: 15px;
    background-color: var(--bg-clr);
    &::before {
        content: '';
        height: 10px;
        width: 10px;
        // top: 50%;
        bottom: 3px;
        left: 5px;
        // left: 10px;
        // right: -5px;
        // border: 1px solid red;
        // background-color: var(--process-clr);
        background-image: url(../../assets/icons/sun.svg);
        // background-position: center;
        background-size: cover;
        // border-radius: 50%;
        position: absolute;
       
    }
    &::after {
        content: '';
            height: 10px;
            width: 10px;
            // top: 50%;
            bottom: 3px;
            right: 2px;
            // left: 10px;
            // right: -5px;
            // border: 1px solid red;
            // background-color: var(--process-clr);
            background-image: url(../../assets/icons/moon.svg);
            // background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            // border-radius: 50%;
            position: absolute;
    }
    &__checkbox {
        display: none;
        &:checked+.switcher__slider {
            background-color: transparent;
                &:before,
                &:after {
                    transform: translateX(20px);
                    background-color: var(--succes-clr);
                
                }
        }
    }
    &__slider {
        width: 39px;
        height: 1px;
        border-radius: 20px;
        cursor: pointer;
        transition: all 1.4s;
        
        
        &:before,
        &:after {
            content: "";
            position: absolute;
        
            width: 15px;
            height: 15px;
            background-color: var(--process-clr);
            border-radius: 50%;
            z-index: 100;
        }
        
        &:before {
            transition: 0.4s;
        }
    
        &:after {
            transition: 0.5s;
        }
    }
}