$succes-clr: #1beb9e;
$hover-bg-clr: #4caf50;
$queue-clr: #FC2847;
$accent-clr: #1beb9e;
$font-clr: #fff;
$popup-bg-clr: #f6f4f4;
$subtitle-clr: #3b3c67;
$font-minor-clr: #ff9528;
$process-clr: #FEB64D;
$border-clr: #fff;
// $bg-clr: #191921;
$bg-clr: #223;

$inverted-font-clr:$bg-clr;
$additional-color: #6667AB;
