:root[data-theme="dark"] {
    --succes-clr: #1beb9e;
    --hover-bg-clr: #4caf50;
    --queue-clr: #FC2847;
    --accent-clr: var(--succes-clr);
    --font-clr: #fff;
    --font-clr-invert: #3f3f3f;
    --popup-bg-clr: #f6f4f4;
    --subtitle-clr: #3b3c67;
    --font-minor-clr: #ff9528;
    --process-clr: #FEB64D;
    --border-clr: #fff;
        // $bg-clr: #191921;
    --additional-border-clr: #fff;
    --bg-clr: #223;
    --inactive-btn-clr: #676767;
    --hue: 223;
    --inverted-font-clr: var(--bg-clr);
    --additional-color: #6667AB;
    --special-bg-clr: linear-gradient(45deg, hsl(var(--hue), 50%, 20%), hsl(var(--hue), 10%, 10%));
    --text-shadow: #1beb9e;
    --white-clr: #fff;
    --dark-border: #535353;
}

:root[data-theme="light"] {
    --succes-clr: #1e9c53;
    --hover-bg-clr: #296e6b;
    --queue-clr: #FC2847;
    --accent-clr: #008cff;
    --font-clr: #008cff;
    --font-clr-invert: #3f3f3f;
    --popup-bg-clr: #e8e8e8;
    --subtitle-clr: #a9a9a9;
    --font-minor-clr: #ff9528;
    --process-clr: #535353;
    --border-clr: #767676;
    --additional-border-clr: var(--additional-color);
    --bg-clr: #fff;
    --hue: 0;
    --inactive-btn-clr: #ccc;
    --inverted-font-clr: var(--bg-clr);
    --additional-color: #4672be;
    --special-bg-clr: linear-gradient(45deg, hsl(var(--hue), 10%, 100%), hsl(var(--hue), 0%, 94%));
    --text-shadow: #fff;
    --white-clr: #fff;
    --dark-border: #535353;
}



//  $succes-clr: #1beb9e;
//          $hover-bg-clr: #4caf50;
//          $queue-clr: #FC2847;
//          $accent-clr: $succes-clr;
//          $font-clr: #fff;
//          $popup-bg-clr: #f6f4f4;
//          $subtitle-clr: #3b3c67;
//          $font-minor-clr: #ff9528;
//          $process-clr: #FEB64D;
//          $border-clr: #fff;
//          // $bg-clr: #191921;
//          $bg-clr: #223;
//          $inactive-btn-clr: #676767;

//          $inverted-font-clr: $bg-clr;
//          $additional-color: #6667AB;



// :root[data-theme="light"] {
//   --main-bg-color: #fff;
//   --text-color: #296e6b;
//   --link-visited-color: #296e6b;
//   --title-color: #FF725E;
//   --block-bg-color: #6da387;
//   --submit-btn-color: #fff;
//   --title-color: #2B4A4A;
//   --border-color: #FF725E;
//   --text-color: #296e6b;
//   --btn-color: #69A4A2;
//   --paragraph-color: #94C0C2;
//   --items-border-color:#DAE4E5;
//   --unipmortant-text-color:#94C0C2;
//   --additionl-border-color: #DAE4E5;
//   // --font: 'Inter', 'Helvetica', 'Arial', sans-serif;

// }

// :root[data-theme="dark"] {
//   --main-bg-color: #1a1a1a;
//   --text-color: #ff4564;
//   --link-visited-color: #ff4564;
//   --submit-btn-color: #1beb9e;
//   --title-color: #1beb9e;
//   --block-bg-color: #1a1a1a;
//   --title-color: #ff4564;
//   --btn-color: #1beb9e;
//   --border-color: #ff4564;
//   --items-border-color:#1beb9e;
//   --paragraph-color: #ff4564;
//   --text-color: #18b6ff;
//   --additionl-border-color: #898989;
//   --unipmortant-text-color: #898989;
//   // --font: 'IBM Plex Mono', monospace;

// }