
#root {

  overflow: hidden;
  font-family: 'IBM Plex Mono', 'Helvetica', 'Arial', sans-serif;
  font-weight: 500;
  height: 100vh;
  font-size: 14px;
      display: grid;
      grid-template-rows: max-content 1fr auto;
        grid-template-areas:
          "header"
          "content"
          "footer";
          // justify-content: center;
    // background-color: $bg-clr;
    background-image: var(--special-bg-clr);
    color: var(--font-clr);
    // 
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    // padding: 100px;
    

}

a, a:visited {
  text-decoration: none;
}
