.taskList {
    list-style: none;
    color: #fff;
    padding: 0;
    min-height: 100%;
    margin: 5px 5px 0px 3px;
    box-sizing: border-box;
    flex: 1;
    overflow: auto;
    &::-webkit-scrollbar {
            // display: none;
            width: 5px;
        }
    &::-webkit-scrollbar-thumb {
        background-color: var(--accent-clr);
        border-radius: 3px;
    }
    scrollbar-color: var(--accent-clr);
    scrollbar-width: thin;
}

.drag-over {
   filter: opacity(.6);
   border-style: dotted;
   border-width: 5px;
   
}

